.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
