.content {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 25px;
}
.contentLink {
  text-decoration: none;
  color: black;
  font-size: larger;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; */
}
